<h1 mat-dialog-title>Desea asignar profesional a la cita?</h1>
<div mat-dialog-content>
  <p>Seleccione profesional</p>

    <select name="mySelect" [(ngModel)]="opcionProfesional" id="opcionProfesional" required="true">
        <option value="default" selected disabled>seleccione..</option>
        <option *ngFor="let option of profesionales" [value]="option.numero_identificacion">
           {{option.numero_identificacion}} |  {{option.primer_nombre}} {{option.primer_apellido}} {{option.segundo_apellido}}  </option>
    </select>
   
    <div  id="content-dialog">
      <div id="content-option">

          <div id="option-boton">
            <button class="btn btn-outline-danger"  (click)="onNoClick()" >Cancelar</button>
          </div>
          
          <div id="option-boton">
            <button class="btn btn-outline-success" cdkFocusInitial (click)="onConfirm()">Confirmar</button>
          </div>

      </div>
  </div>

</div>





