#content-dialog{
    padding: 1rem 1rem 1rem 1rem;
}
#content-option{
    display: flex;
    justify-content: flex-end;
  }

  #option-boton{
    padding: 1rem 0 0 1rem;
  }
 #opcionProfesional{
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
 } 

 #opcionProfesional input{
  color: var(--quarter-color);
 } 