<div class="content-navbar">
    <nav>
        <ul class="navbar-menu">
            <li  routerLink=""
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{ exact : true}">
                 <button class = "navbar-button" type="button"> Inicio</button>
            </li>

            <li routerLink="/admin" 
                routerLinkActive="active">
                <button class = "navbar-button" type="button">Administración</button>
            </li>

            <li routerLink="/agenda"
                [routerLinkActiveOptions]="{exact: false}"
                routerLinkActive="active">
                <button class = "navbar-button" type="button" >Agenda</button>
            </li>
            <li [routerLink]="['/moviles']"
                routerLinkActive="active">
                <button class = "navbar-button" type="button">Moviles</button>
            </li>
        </ul>
    </nav> 
</div>



    

