@import url('../../../../styles.css');

.header-cita{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    font-weight: bold;
    background-color: var(--second-color);
}
.header-cita h5{
 color: var(--third-color);
}

.header-cita i{
    color: var(--gris3-color);;
    font-size: 1.2rem;
}

.card{
    border-color: var(--gris2-color);
    box-shadow: 5px 5px 15px var(--gris3-color);
}

.input-group-text{
    color: var(--quarter-color);
    margin-bottom: 0.3rem;
    border-width: 0px;
    padding: 0px;
}
.input-group-text i{
   display: flex;
   align-items: center;
   font-style: normal;
   font-size: 1.2rem;
   margin-right: 0.5rem;
   
}

#container-card{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 70vh;
}
@media screen  and (max-height:650px){
    #container-card{
        max-height: 60vh;
    }
}
#container-card-citas{
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
}


.i-card-agenda{
    display: flex;
    justify-content: flex-end;
}
.i-card-agenda i{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 0.4rem;
}
#i-card-agenda-agendar{
    color: var(--primary-color);
}
#i-card-agenda-agendar:hover{
    color : var(--second-color);
}

#i-card-agenda-desagendar{
    color: var(--orange-color);
}
#i-card-agenda-desagendar:hover{
    color: var(--orange-color-dark);
}

#i-card-agenda-cancelar{
    color: var(--red-color);
}
#i-card-agenda-cancelar:hover{
   
    color: var(--red-dark-color);
}
#i-card-agenda-reprogramar{
    color: var(--green-color);
}
#i-card-agenda-reprogramar:hover{
  color: var(--green-color-dark);
}
#conductor-card h5{
    color: var(--orange-color);
}

.estado-cita{
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5px;
}
@keyframes parpadeo-progreso {
   
    0% {
      background-color: var(--orange-color);
    }
    50% {
       background-color: var(--orange-color-dark);
    }
    100%{
        background-color: var(--orange-color);
    }
   
  }
#estado-confirmado{
  color: white;
  background-color: var(--green-color-dark);
}
#estado-progreso{
    animation: parpadeo-progreso 2s ease-in-out infinite;
    color: var(--gris4-color);
    background-color: var(--orange-color);
}
#estado-finalizada{
    color: white;
    background-color: var(--primary-color);
}