<div class="accordion accordion-flush" id="accordion-citas">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{cita.idCita}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse'+cita.idCita" aria-expanded="false"
                [attr.aria-controls]="'#collapse'+cita.idCita" [name]="'estado-'+cita.idEstado">

                <div class="header-cita">
                    <h6>{{cita.idRemision}}</h6>
                    <div>
                        <i class="bi bi-eye-fill" title="ubicación" (click)="mostrarDetalleCita(cita)"></i>
                    </div>
                </div>

                <div class="item-cita">
                    <div>
                        {{cita.paciente|titlecase}}
                        <div>
                            {{cita.tipoIdentificacionPaciente|obtenerSiglasIdentificacion}}:
                            {{cita.numeroIdentificacionPaciente}}
                        </div>
                    </div>


                </div>


                <div style="margin-top: 0.5rem;" *ngIf="cita.idProfesional">
                    <span>Profesional:</span>
                    {{cita.idProfesional}}
                </div>
                <div class="content-estado-card">
                    <div class="item-cita" id="estado-{{cita.idEstado}}" name="estado-card">
                        {{getNombreEstadoCita(cita.idEstado)}}
                    </div>
                </div>


            </button>
        </h2>
        <div id="collapse{{cita.idCita}}" class="accordion-collapse collapse" name="contenido-accordion"
            [attr.aria-labelledby]="'heading'+cita.idCita" data-bs-parent="#accordion-citas">
            <div class="accordion-body">
                <div class="card-body">

                    <div class="item-cita"><i class="bi bi-calendar">

                        </i>{{cita.fechaInicio |date :'dd/MM/yyyy HH:mm' }}</div>

                    <div class="item-cita"><i class="bi bi-calendar-check">

                        </i>{{cita.fechaProgramada |date:'dd/MM/yyyy HH:mm'}}
                    </div>
                    <div class="item-cita">
                        <i class="bi bi-clock"> </i>{{cita.duracion|formatearSegundos }}
                    </div>
                    <div class="item-cita"><i class="bi bi-hourglass-bottom"> </i>{{cita.holgura
                        |formatearSegundos}}
                    </div>

                    <div class="card-body" *ngIf="cita.idConductor" id="conductor-card">
                        <h5 for="conductor" class="card-title">conductor asignado</h5>
                        <span class="input-group-text" id="conductor"><i class="bi bi-file-person-fill"></i>
                            {{cita.idConductor}}</span>
                        <span class="input-group-text"><i class="bi bi-card-heading"></i> {{cita.idConductor}}</span>
                    </div>


                    <div class="i-card-agenda">
                        <ng-container *ngIf="cita.idEstado == 2">


                            <i class="bi bi-clock" id="i-card-agenda-reprogramar" title="Reprogramar"
                                (click)="reprogramarHoraCita(cita)">
                            </i>

                            <i class="bi bi-calendar2-x-fill" id="i-card-agenda-desagendar" title="Desagendar"
                                (click)="desagendarProfesionalCita(cita,'Desea desagendar cita ?')">
                            </i>



                        </ng-container>
                        <ng-container *ngIf="cita.idEstado == 1">
                            <i class="bi bi-calendar-plus-fill" (click)="asignarProfesionalCita(cita)" title="Agendar"
                                id="i-card-agenda-agendar"></i>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>