@import url('../../../../styles.css');


#accordion-citas button {
    display: block;
    width: 100%;
    color: var(--quarter-color);
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.3rem 0.8rem 1.5rem;
    box-shadow: 2px 2px 5px var(--gris2-color);

}

#accordion-citas button[name="estado-1"] {
    background: linear-gradient(to right, var(--orange-color) 0%, var(--orange-color) 5%, white 5%, white 95%);
}

#accordion-citas button[name="estado-2"] {
    background: linear-gradient(to right, var(--second-color-2) 0%, var(--second-color-2) 5%, white 5%, white 95%);
}

#accordion-citas button[name="estado-3"] {
    background: linear-gradient(to right, purple 0%, purple 5%, white 5%, white 95%);
}

#accordion-citas button[name="estado-4"] {
    background: linear-gradient(to right, var(--green-color) 0%, var(--green-color) 5%, white 5%, white 95%);
}

#accordion-citas button[name="estado-5"] {
    background: linear-gradient(to right, var(--quarter-color) 0%, var(--quarter-color) 5%, white 5%, white 95%);

}

#accordion-citas button[name="estado-6"] {
    background: linear-gradient(to right, black 0%, black 5%, white 5%, white 95%);
}


div[name="contenido-accordion"] {
    border: 1px solid var(--gris3-color)
}

#accordion-citas button::after {
    background-color: var(--third-color);
    border-radius: 50%;

}

.header-cita {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    font-weight: bold;
}

.header-cita i {
    color: var(--gris1-color);
    font-size: 1.2rem;
}

.item-cita {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--quarter-color);
}

.item-cita i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-size: 1.2rem;
    margin-right: 0.5rem;

}



.i-card-agenda {
    display: flex;
    justify-content: flex-end;
}

.i-card-agenda i {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 0.4rem;
}

#i-card-agenda-agendar {
    color: var(--primary-color);
}

#i-card-agenda-agendar:hover {
    color: var(--second-color);
}

#i-card-agenda-desagendar {
    color: var(--orange-color);
}

#i-card-agenda-desagendar:hover {
    color: var(--orange-color-dark);
}

#i-card-agenda-cancelar {
    color: var(--red-color);
}

#i-card-agenda-cancelar:hover {
    color: var(--red-dark-color);
}

#i-card-agenda-reprogramar {
    color: var(--green-color);
}

#i-card-agenda-reprogramar:hover {
    color: var(--green-color-dark);
}

#conductor-card h5 {
    color: var(--orange-color);
}

.estado-cita {
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5px;
}

@keyframes parpadeo-progreso {

    0% {
        background-color: var(--green-color);
    }

    50% {
        background-color: var(--green-color-dark);
    }

    100% {
        background-color: var(--green-color);
    }

}

.content-estado-card {
    display: flex;
    justify-content: end;
}

div[name='estado-card'] {
    right: 50px;
    width: fit-content;
    padding: 0.1rem 0.4rem 0.3rem 0.4rem;
    margin-top: 0.3rem;
    border-radius: 5px;

}

#estado-1 {
    color: white;
    background-color: var(--orange-color);
}

#estado-2 {
    color: white;
    background-color: var(--second-color-2);
}

#estado-3 {
    color: white;
    background-color: purple;
}

#estado-4 {
    animation: parpadeo-progreso 2s ease-in-out infinite;
    color: var(--gris4-color);
    background-color: var(--green-color)
}

#estado-5 {
    color: white;
    background-color: var(--quarter-color);
}

#estado-6 {
    color: white;
    background-color: black;
}