<div class="container-view">
    <div class=" header">
        <div class="content-toolbar">
            <em id="back-admin" class="bi bi-arrow-left-square-fill" title="volver a remisiones"
                (click)="backAdmin()"></em>
            <h2>Remisiones</h2>
        </div>
        <div class="content-toolbar">

            <span id="buscar-remision"></span>
            <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filtroBusqueda"
                (ngModelChange)="filtrarRemisiones()">
        </div>

    </div>

    <div class="content-item">
        <section class="container-table-full-screen" tabindex="0">
            <table class="mat-elevation-z8" mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let remision"> {{remision.idRemision}} </td>
                </ng-container>

                <ng-container matColumnDef="Paciente">
                    <th mat-header-cell *matHeaderCellDef> Paciente </th>
                    <td mat-cell *matCellDef="let remision">

                        <div class="card-item">
                            {{remision.paciente|titlecase}}
                        </div>
                        <div class="card-item">
                            {{remision.numeroIdentificacionPaciente}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Admisión">
                    <th mat-header-cell *matHeaderCellDef> Admisión </th>
                    <td mat-cell *matCellDef="let remision"> {{remision.fechaAdmision| date:'dd/MM/yyyy':'es'}} </td>
                </ng-container>

                <ng-container matColumnDef="Programa">
                    <th mat-header-cell *matHeaderCellDef> Programa </th>
                    <td mat-cell *matCellDef="let remision"> {{remision.programa}} </td>
                </ng-container>

                <ng-container matColumnDef="Regional">
                    <th mat-header-cell *matHeaderCellDef> Regional </th>
                    <td mat-cell *matCellDef="let remision"> {{remision.regional}} </td>
                </ng-container>

                <ng-container matColumnDef="Remitente">
                    <th mat-header-cell *matHeaderCellDef> Remitente </th>
                    <td mat-cell *matCellDef="let remision"> {{remision.institucionRemite|titlecase}} </td>
                </ng-container>

                <ng-container matColumnDef="Estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let remision"> {{remision.estado|titlecase}} </td>
                </ng-container>

                <ng-container matColumnDef="Historial">
                    <th mat-header-cell *matHeaderCellDef> Historial </th>
                    <td mat-cell *matCellDef="let remision">
                        <em class="bi bi-clock-history" id="history" title="ver historial"
                            (click)="verHistorialRemision(remision.idRemision)"></em>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </section>


    </div>

</div>
<mat-paginator #paginatorRemisiones [pageSizeOptions]="pageSizeOptions" aria-label="Select page"
    itemsPerPageLabel="remisiones por páginas" showFirstLastButtons="true" (page)="actualizarPage()">
</mat-paginator>