@import url('../../../styles.css');

.buttom-multiple-seleccion {
    position: relative;
    border: 0;
    background-color: transparent;
    color: var(--second-color);
    font-weight: bolder;
}

.container-buttom-multiple {
    position: relative;
}

.buttom-multiple-seleccion::after {
    position: absolute;
    content: "\276E";
    margin-left: 0.2rem;
    width: 2rem;
    height: 2rem;
    width: 1.5rem;
    height: 100%;
    transform: rotate(-90deg);
    transition: 0.5s;
}

.buttom-multiple-seleccion.deployed::after {
    transform: rotate(90deg);
    transition: 0.5s;
}

.buttom-multiple-seleccion.position-left::after {

    transform: rotate(180deg);

}

.buttom-multiple-seleccion.position-left.deployed::after {
    transform: rotate(0deg);

}

.buttom-multiple-body {
    display: none;
    opacity: 0;
    position: absolute;
    text-align: center;
    margin-top: 0.5rem;
    border: 1px solid var(--gris2-color);
    padding: 0;
    width: 130%;
    transition: all 0.5s ease;
}

.buttom-multiple-body.position-left {
    left: 120%;
    top: -70%;
}

.buttom-multiple-body.deployed {
    opacity: 1;
    display: block;
    transition: all 0.5s ease;
}

.item-buttom-multiple {
    background-color: transparent;
    padding: 0.4rem;
    text-align: start;
    border: 0;
    width: 100%;
    color: var(--quarter-color);
    background-color: var(--gris4-color);
}

.item-buttom-multiple:hover {
    background-color: var(--primary-color);
    border: 0;
    color: var(--gris4-color);
}