@import url('../../../styles.css');

.buttom-multiple-seleccion {
    position: relative;
    border: 0;
    background-color: transparent;
    color: var(--quarter-color);
}

.buttom-color-second {
    color: var(--second-color);
}

.buttom-enfasis {
    font-weight: bolder;
}

.container-buttom-multiple {
    position: relative;
}

.buttom-multiple-body {
    display: none;
    opacity: 0;
    position: absolute;
    text-align: center;
    margin-top: 0.5rem;
    border: 1px solid var(--gris2-color);
    padding: 0;
    transition: all 0.5s ease;
}

.buttom-multiple-body button {
    width: 100%;
    text-wrap: nowrap;
}

.buttom-multiple-body.position-left {
    left: 120%;
    top: -70%;
}

.buttom-multiple-body.deployed,
.buttom-multiple-body[deployed="true"] {
    position: absolute;
    opacity: 1;
    display: block;
    z-index: 9999;
    transition: all 0.5s ease;
}

.item-buttom-multiple {
    background-color: transparent;
    text-align: start;
    border: 0;
    width: 100%;
    color: var(--quarter-color);
    background-color: var(--gris4-color);
}

.p-0 {
    padding: 0;
}

.item-buttom-multiple:hover {
    background-color: var(--primary-color);
    border: 0;
    color: var(--gris4-color);
}