@import url('../../../styles.css');

.buttom-multiple-seleccion {
    position: relative;
    border: 0;
    background-color: transparent;
    color: var(--quarter-color);
}

.buttom-multiple-seleccion:disabled {
    color: var(--gris2-color);
}

.buttom-outline-list+label {
    position: absolute;
    font-size: 0.9rem;
    color: var(--quarter-color);
    bottom: 100%;

}

.buttom-outline-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    color: var(--quarter-color);
    border-radius: 5px;
    border: 1px solid var(--gris2-color);
    background-color: transparent;
    min-width: 8rem;
    min-height: 2rem;
    height: 100%;
    text-align: start;

}



.buttom-outline-list::after {
    position: absolute;
    font-family: system-ui;
    content: "\23f7";
    right: 0.2rem;
    color: var(--gris2-color);
}

.item-buttom-multiple.selected {
    position: relative;
    color: var(--primary-color);
    font-weight: bolder;
}

.item-buttom-multiple:disabled {
    position: relative;
    display: none;
}


.item-buttom-multiple.selected::after {
    position: absolute;
    content: "\2713";
    right: 0.5rem;
}

.buttom-color-second {
    color: var(--second-color);
}

.buttom-enfasis {
    font-weight: bolder;
}

.container-buttom-multiple {
    position: relative;
}

.buttom-multiple-body {
    display: none;
    opacity: 0;
    position: absolute;
    text-align: center;
    margin-top: 0.5rem;
    border: 1px solid var(--gris2-color);
    padding: 0;
    transition: all 0.5s ease;
}

.buttom-multiple-body button {
    width: 100%;
    text-wrap: nowrap;
}

.buttom-multiple-body.position-left {
    left: 120%;
    top: -70%;
}

.buttom-multiple-body.deployed,
.buttom-multiple-body[deployed="true"] {
    position: absolute;
    opacity: 1;
    display: block;
    z-index: 9999;
    transition: all 0.5s ease;
}

.item-buttom-multiple {
    text-align: start;
    border: 0;
    width: 100%;
    color: var(--quarter-color);
    background-color: var(--gris4-color);
}

.p-0 {
    padding: 0;
}

.item-buttom-multiple:hover {
    background-color: var(--primary-color);
    border: 0;
    color: var(--gris4-color);
}