<div class="row" id = 'container-card'>

    <div *ngFor="let desplazamiento of desplazamientos" class="container-card-citas">

        <div class="card">

            <div class="card-body">

                <h5 class="card-title">Desplazamiento</h5>
                <h5 class="card-title">{{desplazamiento.idCitaPartida}} => {{desplazamiento.idCitaDestino}}</h5>
              
                
            
                <span class="input-group-text" id="basic-addon2"><i class="bi bi-calendar-check" ></i> {{formatDateTime(desplazamiento.fechaProgramada)}}</span>
                <span class="input-group-text" id="basic-addon2"><i class="bi bi-clock"></i> {{convertSecondsToMinutesOrHours(desplazamiento.duracion)}}</span>
                <span class="input-group-text" id="basic-addon2"><i class="bi bi-hourglass-bottom"></i> {{convertSecondsToMinutesOrHours(desplazamiento.holgura)}}</span>
                <div class="i-card-agenda">
                    
                  
                        <i class="bi bi-calendar-plus-fill"  *ngIf="desplazamiento.idEstado == 1"
                            title="Agendar"
                            id = "i-card-agenda-agendar" (click) = "asignarDesplazamiento(desplazamiento)">
                        </i>
                        
                        <i class="bi bi-calendar2-x-fill"   *ngIf="desplazamiento.idEstado == 2"
                                title="Desagendar"
                                id="i-card-agenda-desagendar" (click) = "desasignarDesplazamiento(desplazamiento)">
                        </i>

                </div>
            </div>

        </div>
    </div>

</div>
