<div class="container-view">
    <div class="header">
        <div class="content-toolbar">
            <i id="back-admin" class="bi bi-arrow-left-square-fill" title="volver a remisiones"
                (click)="backRemisionesTabla()"></i>
            <h2>Servicio Farmaceutico</h2>
        </div>


        <div class="content-toolbar">

            <button id="notificar" title="Notificar" (click)="notificarSeleccion()"
                [ngClass]="{'active': hayNotificacionesSeleccionadas()}" [disabled]="!hayNotificacionesSeleccionadas()">
                <div>
                    <i class="bi bi-bell-fill"></i>
                </div>
            </button>

            <div class="content-check-notificacion">

                <input id="check-notificado" type="checkbox" (change)="onCheckboxChangeNotificado($event)">
                <label class="label-notificacion" for="check-notificado">Notificado</label>

                <input id="check-sin-notificado" type="checkbox" (change)="onCheckboxChangeSinNotificado($event)">
                <label class="label-notificacion" for="check-sin-notificado">Sin Notificar</label>

            </div>

            <input [(ngModel)]="filtroBusqueda" (ngModelChange)="filtrarNotificaciones()" type="text"
                class="form-control" placeholder="Buscar..." aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    <div id="content-activate-buttom">
        <button [class]="'buttom-primary buttom-circular-activador '+filtroAvanzadoActivado" (click)="activarFiltro()"
            title="Filtro avanzado">Filtro avanzado</button>
    </div>

    <div [class]="'filter '+filtroAvanzadoActivado">
        <div class="container-input">
            <label for="fechaTurno">Fecha</label>
            <input id="fechaTurno" type="date" />
        </div>

        <div class="container-input">
            <label for="opcionRegional">Regionales</label>
            <select id="opcionRegional">
                <option>seleccionar regional</option>
            </select>
        </div>

        <div class="container-input">
            <label for="idturno"> Turno enfermería</label>
            <select id="idturno">
                <option>seleccionar turno</option>
            </select>
        </div>


        <button class="buttom-seleccion">Buscar</button>


    </div>

    <div class="content-item">

        <table class="mat-elevation-z8" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="Remisión">
                <th mat-header-cell *matHeaderCellDef class="th-start">
                    <span>
                        <input id="master-check" class="th-start" type="checkbox"
                            (change)="agregarTodasNotificacionesMostradas($event)" [disabled]="checkedDisabledMaster">
                        <label class="form-check-label" for="select-group-input"></label>
                        Remisión
                    </span>
                </th>
                <td mat-cell *matCellDef="let notificacion" class="card-item">
                    <span>
                        <input name="individual-check" type="checkbox"
                            [id]="notificacion.idTratamiento+notificacion.idSoporteNutricional"
                            (change)="agregarListaSeleccionada(notificacion,$event)"
                            [disabled]="notificacion.notificado">
                        {{notificacion.idRemision}}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="Paciente">
                <th mat-header-cell *matHeaderCellDef> Paciente </th>
                <td mat-cell *matCellDef="let notificacion">
                    <div class="card-item">
                        {{ notificacion.nombres |titlecase }} {{ notificacion.apellidos|titlecase }}
                    </div>
                    <div class="card-item">
                        {{ notificacion.tipoIdentificacion |obtenerSiglasIdentificacion }}: {{
                        notificacion.numeroIdentificacion }}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="Tipo">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let notificacion"> {{notificacion.tipo}} </td>
            </ng-container>

            <ng-container matColumnDef="Medicamento">
                <th mat-header-cell *matHeaderCellDef> Medicamento </th>
                <td mat-cell *matCellDef="let notificacion">
                    <div>

                        <div class="card-item">
                            {{notificacion.presentacionMedicamento|titlecase}}
                        </div>

                        <div class="card-item">
                            {{notificacion.codigoMedicamento}}
                        </div>

                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="Dosis">
                <th mat-header-cell *matHeaderCellDef> Dosis </th>
                <td mat-cell *matCellDef="let notificacion"> {{notificacion.cantidadDosis}}
                    ({{notificacion.unidadDosis}}) </td>
            </ng-container>

            <ng-container matColumnDef="Vía">
                <th mat-header-cell *matHeaderCellDef> Vía </th>
                <td mat-cell *matCellDef="let notificacion"> <span
                        *ngIf="notificacion.viaAdministracion">{{notificacion.viaAdministracion}}</span>
                    <span class="badge-no-aplica" *ngIf="!notificacion.viaAdministracion">NA</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="Volumen">
                <th mat-header-cell *matHeaderCellDef> Volumen </th>
                <td mat-cell *matCellDef="let notificacion">
                    <span *ngIf="notificacion.volumen">{{notificacion.volumen}} (gr)</span>
                    <span class="badge-no-aplica" *ngIf="!notificacion.volumen">NA</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="Fecha programada">
                <th mat-header-cell *matHeaderCellDef> Fecha programada </th>
                <td mat-cell *matCellDef="let notificacion"> {{notificacion.fechaProgramada| date:'dd/MM/yyyy HH:mm'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Notificado">
                <th mat-header-cell *matHeaderCellDef> Notificado </th>
                <td mat-cell *matCellDef="let notificacion">
                    <i *ngIf="notificacion.notificado" class="bi bi-check-square-fill" id="notificado"></i>
                    <i *ngIf="!notificacion.notificado" class="bi bi-slash-circle-fill" id="no-notificado"></i>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr *matNoDataRow>
                <p style="padding: 0.5rem 0.5rem 0.5rem 1rem;">hay notificaciones pendientes !!!

                </p>
            </tr>

        </table>
    </div>
</div>

<mat-paginator #paginatorFarmacia [pageSizeOptions]="[7,8,9,10,15,20,50,100]" aria-label="Select page"
    itemsPerPageLabel="notificaciones por página" showFirstLastButtons="true" (page)="handlePageChange($event)">
</mat-paginator>