@import url('../../../../styles.css');
@import url('../../../../assets/styles/tablas/tabla.css');

.content-toolbar {
    display: flex;
}

#back-admin {
    display: flex;
    align-items: center;
    padding-right: 2rem;
    font-size: 1.5rem;
    color: var(--primary-color);
}

#notificar {
    background-color: transparent;
    border: 0;
}

#notificar:disabled i {
    color: var(--gris3-color);
    border: 0;
}

#notificar i {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    color: var(--green-color);
    margin-right: 0.5rem;

}

#notificar.active i {
    animation: notificar 1s infinite;
}

#notificar i:hover {
    box-shadow: 3px 3px 3px var(--gris3-color);
}

@keyframes notificar {
    0% {
        color: var(--green-color);

    }

    50% {
        color: var(--green-color-dark);

    }

    100% {
        color: var(--green-color);

    }
}


.content-check-notificacion {
    display: flex;
}

.label-notificacion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    white-space: nowrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--gris3-color);
    align-items: center;
    vertical-align: middle;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}


.content-item {
    padding-right: 1rem;
    padding-left: 1rem;
}

.card-item,
.card-item td {
    text-align: start;
}

.th-start {
    text-align: start;
    white-space: nowrap;
}

#notificado {
    color: var(--green-color);
    font-size: 1.5rem;
    font-weight: bold;
}

#no-notificado {
    color: var(--third-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.badge-no-aplica {
    background-color: var(--orange-color);
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}


td span {
    white-space: nowrap;
}

tr[activacelta=true] {
    background-color: var(--gris1-color);

}

tr[activacelta=true] td {
    color: var(--gris4-color);

}