@import url('../../../../../styles.css');
@import url("../../../../../assets/styles/tablas/tabla.css");
@import url("../../../../../assets/styles/buttons/button-seleccion.css");
@import url('../../../../../assets/styles/forms/form.css');

.container {
    margin-bottom: 2rem;
    margin-top: 5rem;
}

#content-tabla-profesionales {
    margin-bottom: 1rem;
}

.tool-bar {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 1rem 0;
    gap: 0.5rem
}