.custom-dialog {
  padding: 2rem 2rem 2rem 2rem;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
}

.mensaje {
  padding-bottom: 0.5rem;
}

.content-option {
  display: flex;
  justify-content: end;
  padding-top: 1rem;
}

.content-option button {
  margin-left: 0.5rem;
}

i {
  color: var(--third-color);
  font-size: 1.5rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}