<div class="custom-dialog" mat-dialog-actions>
    <div>
        <h4 mat-dialog-title>{{data["mensaje"]}}</h4>
        <h6 *ngIf="data['nota']" mat-dialog-title><em class="bi bi-exclamation-triangle-fill"></em> {{data["nota"]}}
        </h6>
        <div class="content-option">
            <div>
                <button mat-button class="btn btn-outline-danger" (click)="onNoClick()">Cancelar</button>
            </div>
            <div>
                <button mat-button class="btn btn-outline-success" cdkFocusInitial
                    (click)="onConfirm()">Confirmar</button>
            </div>

        </div>

    </div>

</div>