

<div class="custom-dialog" mat-dialog-actions>
    <div >
        <h5 mat-dialog-title>{{data["mensaje"]}}</h5>
        <div class="content-option">
            <div>
                <button mat-button  class="btn btn-outline-danger" (click)="onNoClick()" >Cancelar</button>
            </div>
            <div>
                <button mat-button class="btn btn-outline-success" cdkFocusInitial (click)="onConfirm()">Confirmar</button>
            </div>
            
        </div>
       
    </div>
    
</div>




