<div id="container-personal">
    <div id="vertical-nav-bar" close="false">
        <div id="control-show">
            <button [class]="'control-show-button '+estadoMenu" (click)="ocultarVerticalNavbar()"></button>
        </div>
        <nav class="vertical-bar">
            <ul>
                <li [routerLink]="['horario']" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{ exact : false}" class=" vertical-item">
                    <button type="button">
                        <em class="bi bi-calendar-week"></em>
                        <span class="titulo-menu">Horario</span>
                    </button>
                </li>
                <li routerLink="profesionales" routerLinkActive="active" class="vertical-item">
                    <button type="button">
                        <em class="bi bi-person"></em>
                        <span class="titulo-menu">Profesionales</span>

                    </button>
                </li>
                <li routerLink="conductores" routerLinkActive="active" class="vertical-item">
                    <button>
                        <em class="bi bi-file-person"></em>
                        <span class="titulo-menu">Conductores</span>
                    </button>
                </li>
                <li routerLink="vehiculos" routerLinkActive="active" class="vertical-item">
                    <button>
                        <em class="bi bi-truck"></em>
                        <span class="titulo-menu">Vehículos</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
    <div id="item-personal">
        <router-outlet></router-outlet>
    </div>
</div>