<div class="container-consolidado">
    <div class="tool-bar">
        <div class="container-input">
            <input [(ngModel)]="mesFiltro" type="month" id="mes">
            <label for="mes">Mes</label>
        </div>
        <div class="container-input">
            <select id="regional" [(ngModel)]="opcionIdRegional">
                <option *ngFor="let regional of regionales" [value]="regional.id">{{regional.nombre}}</option>
            </select>
            <label for="regional">Regional</label>
        </div>
        <div class="container-input">
            <button class="buttom-seleccion" (click)="buscarTurno()">Buscar</button>
        </div>
        <div class="refencia-turnos">
            <div class="vertical">
                <p>Referencias turno</p>
                <div class="container-ref-turno">
                    <div *ngFor="let horarioTurno of horariosTurnos" class="box"
                        [style.background-color]="horarioTurno.colorHexReferencia" [class]="horarioTurno.nombre">
                        {{horarioTurno.nombre}}
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="content-diagram-calendar">
        <div class="content-dias">
            <div class="row">
                <div class="col-lg-3 col-xl-3 col-xxl-2" id="filtro-personal">
                    <div>
                        <input type="text" [(ngModel)]="inputTextPersonal" placeholder=" buscar..."
                            (ngModelChange)="filtrarPersonal()">
                    </div>
                </div>
                <div class="col-lg-9 col-xl-9 col-xxl-10" name="container-dias-mes">
                    <div *ngFor="let dia of dias" class="content-card-day">
                        <div>
                            {{ dia.nombre }}
                        </div>
                        <div>
                            {{ dia.numero }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="container-vertical">
            <div class="container-calendar">
                <app-placeholder-horario-turnos [numeroDias]="dias.length" [repeticiones]="numerosPaginaSeleccionada"
                    [visible]="placeHolderVisible"></app-placeholder-horario-turnos>
                <div class="item-persona"
                    *ngFor="let profesional of profesionalesMostrados | paginate:{id:'cuadro-turno',itemsPerPage: numerosPaginaSeleccionada, currentPage: currentPagePaginator}">
                    <div class="row">
                        <div class="col-lg-3 col-xl-3 col-xxl-2">
                            <div class="card-persona">
                                <h6>{{profesional.nombres}} {{profesional.apellidos}}</h6>
                                <p>{{getNombreProfesion(profesional.idProfesion,profesiones )}}</p>
                            </div>
                        </div>
                        <div class="col-lg-9 col-xl-9 col-xxl-10" name="container-dias-mes">
                            <div *ngFor="let dia of dias" class="box-dia"
                                (click)="openDialogAsignarTurno(dia.numero, profesional)">
                                <div *ngIf="filtrarTurnoAsignadoDia(dia.numero, profesional.turnos).length>0"
                                    class="turno-box">
                                    <div *ngFor="let turno of filtrarTurnoAsignadoDia(dia.numero, profesional.turnos)"
                                        [style.height]="'calc('+100/filtrarTurnoAsignadoDia(dia.numero, profesional.turnos).length+'%)'"
                                        [style.background-color]="getColorRefenciaTurno(turno.idHorarioTurno,horariosTurnos)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="paginator-container">
                <label>personas por páginas</label>
                <select [(ngModel)]="numerosPaginaSeleccionada">
                    <option *ngFor="let pagina of numeroPaginasPaginator">{{pagina}}
                    </option>
                </select>
                <pagination-controls id="cuadro-turno" previousLabel="Anterior" nextLabel="Siguiente"
                    (pageChange)="currentPagePaginator = $event">
                </pagination-controls>
            </div>

        </div>
    </div>
</div>