@import url('../../../styles.css');

.container-input {
    position: relative;
    margin: 0 1rem 0 1rem;
}

.container-input label {
    position: absolute;
    color: var(--quarter-color);
    white-space: nowrap;
    bottom: 100%;
    left: 0;
}

/*inputs generales*/
input {
    color: var(--quarter-color);
    border-radius: 5px;
    border: 1px solid var(--gris2-color);
    margin: 0px;
    height: 2rem;
}

input[type="checkbox"] {
    height: 100%
}

input:required+label::after {
    content: '*';
    color: red;
}


input.valid {
    border: 1px solid var(--gris2-color);
    color: var(--quarter-color)
}

input.invalid {
    color: var(--red-color);
    border: 1px solid var(--red-color);
}

input.invalid p {
    color: var(--red-color);
    margin: 0px;
}

input:read-only {
    color: var(--gris2-color);
}

input.invalid~p {
    color: var(--red-color) !important;
    margin: 0px !important;
    font-size: 0.8rem;

}

input[type="text"]:focus {
    box-shadow: 2px 2px 5px var(--gris2-color);
}

/*select genericos*/
select:required+label::after {
    content: '*';
    color: red;
}

select {
    border-radius: 5px;
    color: var(--gris4-color);
    height: 2rem;
    border: 1px solid var(--gris2-color);
    color: var(--quarter-color);

}


select.valid {
    border: 1px solid var(--gris2-color);
    color: var(--quarter-color)
}

select.invalid {
    color: var(--red-color);
    border: 1px solid var(--red-color);
}

select.invalid~p {
    color: var(--red-color) !important;
    content: "error";
    margin: 0px !important;
    font-size: 0.8rem;

}

option {
    appearance: none;
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    border: 10px solid black;
    background-color: var(--gris4-color);
    color: var(--quarter-color);

}

/*check box*/
input[type="checkbox"]+label {
    padding-left: 0.5rem;
}