@import url('../../../styles.css');

label{
    color: var( --quarter-color);
}
input{
    margin: 0px;
    border: 2px solid var(--quarter-color);
}

select {
    background-color: var(--gris4-color);
    color: var(--quarter-color);
    padding: 0.5rem 0.5rem;
    border: solid var(--gris3-color) 1px;
    border-color:  var(--gris3-color);
  }
  
option {
    background-color: var(--gris4-color);
    color: var(--quarter-color);
}