@import url('../../../styles.css');

.container-input {
    position: relative;
    margin: 0 1rem 0 1rem;
}

.container-input label {
    position: absolute;
    color: var(--quarter-color);
    white-space: nowrap;
    bottom: 2.5rem;
    left: 0;
}

input {
    margin: 0px;
    border: 2px solid var(--quarter-color);
    color: var(--quarter-color);
}

select {
    border-radius: 5px;
    color: var(--quarter-color);
    padding: 0.4rem 0.4rem;
    border: solid var(--second-color) 1px;

}