@import url('../../../styles.css');

.container-input {
    position: relative;
    margin: 0 1rem 0 1rem;
}

.container-input label {
    position: absolute;
    color: var(--quarter-color);
    white-space: nowrap;
    bottom: 100%;
    left: 0;
}

input {
    margin: 0px;
    border: 1px solid var(--gris2-color);
    border-radius: 5px;
    color: var(--quarter-color);
}

input[type="text"]:focus {
    box-shadow: 2px 2px 5px var(--gris2-color);
}

select {
    border-radius: 5px;
    color: var(--gris4-color);
    padding: 0.4rem 0.4rem;
    border: 1px solid var(--gris2-color);
    color: var(--quarter-color);

}


option {
    appearance: none;
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    border: 10px solid black;
    background-color: var(--gris4-color);
    color: var(--quarter-color);

}