<div class="container-form">

    <form [formGroup]="formProfesional" (ngSubmit)="enviarFormulario()" id="form-profesional">
        <div id="title-form">
            <h3>Crear profesional</h3>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xl-3">
                <div class="container-input">

                    <select [class.invalid]="campoTipoIdentificacion?.touched && campoTipoIdentificacion?.invalid"
                        [class.valid]="campoTipoIdentificacion?.touched && campoTipoIdentificacion?.valid" required
                        formControlName="tipoIdentificacion" id="campoTipoIdentificacion">
                        <option value="" [selected] [disabled]>Seleccione...</option>
                        <option *ngFor="let tipoIdentificacion of tiposIdentificacion" [value]="tipoIdentificacion.id">
                            {{tipoIdentificacion.nombre}}
                        </option>
                    </select>
                    <label for="campoTipoIdentificacion">Tipo identificación</label>
                </div>

            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="container-input">
                    <input required
                        [class.invalid]="campoNumeroIdentificacion?.touched && campoNumeroIdentificacion?.invalid"
                        [class.valid]="campoNumeroIdentificacion?.touched && campoNumeroIdentificacion?.valid"
                        formControlName="campoNumeroIdentificacion" formControlName="numeroIdentificacion"
                        id="campoNumeroIdentificacion" type="text" />
                    <label for="campoNumeroIdentificacion">Número de identificación</label>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="container-input">
                    <input required [class.invalid]="campoNombres?.touched && campoNombres?.invalid"
                        [class.valid]="campoNombres?.touched && campoNombres?.valid" formControlName="nombres"
                        id="campoNombres" type="text" />
                    <label for="campoNombres">Nombres</label>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="container-input">
                    <input required [class.invalid]="campoApellidos?.touched && campoApellidos?.invalid"
                        [class.valid]="campoApellidos?.touched && campoApellidos?.valid" formControlName="nombres"
                        formControlName="apellidos" id="campoApellidos" type="text" />
                    <label for="campoApellidos">Apellidos</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6 col-xl-3">
                <div class="container-input">
                    <input required [class.invalid]="campoDireccion?.touched && campoDireccion?.invalid"
                        [class.valid]="campoDireccion?.touched && campoDireccion?.valid" formControlName="direccion"
                        id="campoDireccion" type="text" />
                    <label for="campoDireccion">Dirección residencia</label>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="container-input">
                    <input required [class.invalid]="campoEmail?.touched && campoEmail?.invalid"
                        [class.valid]="campoEmail?.touched && campoEmail?.valid" formControlName="email" id="campoEmail"
                        type="email" />
                    <label for="campoEmail">Email</label>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="container-input">
                    <input required [class.invalid]="campoCelular?.touched && campoCelular?.invalid"
                        [class.valid]="campoCelular?.touched && campoCelular?.valid" formControlName="celular"
                        id="campoCelular" type="tel" />
                    <label for="campoCelular">celular</label>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="container-input">
                    <input [class.invalid]="campoTelefono?.touched && campoTelefono?.invalid"
                        [class.valid]="campoTelefono?.touched && campoTelefono?.valid" formControlName="telefono"
                        id="campoTelefono" type="tel" />
                    <label for="campoTelefono">Telefono</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6 col-xl-3">

                <div class="container-input">
                    <input [class.invalid]="campoFechaNacimiento?.touched && campoFechaNacimiento?.invalid"
                        [class.valid]="campoFechaNacimiento?.touched && campoFechaNacimiento?.valid" required
                        formControlName="fechaNacimiento" id="campoFechaNacimiento" type="date" />
                    <label for="campoFechaNacimiento">Fecha de nacimiento</label>
                </div>

            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="container-input">
                    <select [class.invalid]="campoRegional?.touched && campoRegional?.invalid"
                        [class.valid]="campoRegional?.touched && campoRegional?.valid" required
                        formControlName="idRegional" id="campoRegional">
                        <option value="" [selected] [disabled]>Seleccione...</option>
                        <option *ngFor="let regional of regionales" [value]="regional.id">{{regional.nombre}}</option>
                    </select>
                    <label for="campoRegional">Regional</label>
                </div>
            </div>

            <div class="col-lg-6 col-xl-3">
                <div class="container-input">
                    <select [class.invalid]="campoProfesion?.touched && campoProfesion?.invalid"
                        [class.valid]="campoProfesion?.touched && campoProfesion?.valid" required
                        formControlName="profesion" id="campoProfesion">
                        <option value="" [selected] [disabled]>Seleccione...</option>
                        <option *ngFor="let profesion of profesiones" [value]="profesion.idProfesion">
                            {{profesion.nombre}}
                        </option>

                    </select>
                    <label for="campoProfesion">Profesión</label>
                </div>
            </div>

            <div class="col-lg-6 col-xl-3">
                <div class="container-input">

                    <select [class.invalid]="campoGenero?.touched && campoGenero?.invalid"
                        [class.valid]="campoGenero?.touched && campoGenero?.valid" required formControlName="genero"
                        id="campoGenero">
                        <option value="" disabled selected>Seleccione...</option>
                        <option>Masculino</option>
                        <option>Femenino</option>
                        <option>Otro</option>
                    </select>
                    <label for="campoGenero">Genero</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="content-button-enviar">
                <button type="submit" class="buttom-seleccion">Enviar</button>
            </div>

        </div>

    </form>

</div>