<div class="container-view">
    <div class="row">
        <div class="col-lg-3" id="titulo-agenda">
            <h1>Gestion de agenda</h1>
        </div>
        <div class="col-lg-9">
            <div class="d-flex" id="header_filtro_agenda">
                <div class="form-group row">
                    <div class="d-flex" id="filtro_agenda">
                        <div class="buttom-group-horinzontal">
                            <button class="buttom-seleccion" (click)="autoagendar()"
                                [disabled]="disabledAutoagendar">Agendar</button>
                            <button class="buttom-seleccion" (click)="desagendarTurnoCompleto()"
                                [disabled]="disabledAutoagendar">Desagendar </button>
                        </div>

                        <div class="container-buttom-flex ">
                            <div class="container-input">
                                <label for="fecha">Fecha</label>
                                <input type="date" id="fecha" [(ngModel)]="fechaFiltroTurno">
                            </div>

                            <div class="btn-group" role="group">
                                <button type="button" class="buttom-outline-list" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    {{getRegionalfiltro(opcionRegional)?.nombre}}
                                </button>
                                <label>Regional</label>
                                <ul class="dropdown-menu p-0">
                                    <li *ngFor="let regional of regionales">
                                        <button (click)="actualizarRegionalFilter(regional.id)"
                                            [class.selected]="regional.id==opcionRegional"
                                            class="dropdown-item item-buttom-multiple">{{regional.nombre}}</button>
                                    </li>
                                </ul>
                            </div>

                            <div class="btn-group" role="group">
                                <button type="button" class="buttom-outline-list" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    {{getHorariofiltro(opcionHorarioTurno)?.nombre}}
                                </button>
                                <label>Turno</label>
                                <ul class="dropdown-menu p-0">
                                    <li *ngFor="let horario of horariosTurno">
                                        <button (click)="actualizarHorarioFilter(horario.id)"
                                            [class.selected]="horario.id==opcionHorarioTurno"
                                            class="dropdown-item item-buttom-multiple">{{horario.nombre}}</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="input-group">
                                <button class="buttom-seleccion" (click)="consultarCitas()">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-xl-3 col-xxl-2" id="container-list-citas">
            <div class="d-flex">

                <div class="input-group mb-2" id="buscar-remision">

                    <input [(ngModel)]="idRemision" (ngModelChange)=filtrarCitasByIdRemision() type="text"
                        class="form-control" placeholder="Buscar..." aria-label="Username"
                        aria-describedby="input-remision">
                </div>
            </div>
            <hr>
            <!-- Listado de citas -->
            <div id='container-card'>
                <p *ngIf="citas.length==0">
                    No se encontrarón citas!!!
                </p>
                <div *ngFor="let cita of citas" id="container-card-citas">
                    <app-agenda-card-cita (actualizarMainView)="actualizarComponenteMainAgenda()" [cita]="cita"
                        [idRegional]="opcionRegional" [fechaTurno]="fechaFiltroTurno"
                        [idHorarioTurno]="opcionHorarioTurno" [estadosCita]="estadosCita">
                    </app-agenda-card-cita>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-xl-9  col-xxl-10" id="container-agenda-gantt">
            <div class="panel-gantt">

                <app-diagramas-gantt [actividades]="actividades" [horas]="horasTurnoString"
                    [tituloActorResponsable]="'Profesionales'" (idprofesionalEvent)="desasignarProfesionalTurno($event)"
                    (retirarTareaEvent)="desagendarCita($event)" (reprogramarTareaEvent)="reprogramarCita($event)">
                </app-diagramas-gantt>


                <button id="agregar-profesional" (click)="agregarProfesionalTurno()">
                    <em class="bi bi-person-plus-fill" title="Agregar profesional"></em>
                </button>

            </div>
        </div>
    </div>
</div>