<div class="container-view">
        <div class="d-flex" id = "header_filtro_agenda"> 
                <h1>Gestion de agenda</h1>
 
                <div class = "form-group">
                    
                    <div class="d-flex" id = "filtro_agenda">
                    
                        <div class="buttom-group-horinzontal">
                        
                            <button class="buttom-seleccion" (click)=" autoagendar()">Agendar</button>
                            <button class="buttom-seleccion" (click)="desagendarTurnoCompleto()">Desagendar </button>
                           
                        </div>   
                    
                        <div class="input-group">
                            <label for="fecha">Fecha</label>
                            <input type="date" id="fecha" [(ngModel)]="fechaFiltroTurno" >
                        </div>

                        
                        <div class="input-group">
                            <label for="opcionCiudad">Regional</label>
                            <select name="select-regional" [(ngModel)]="opcionCiudad" id="opcionCiudad">
                                <option value="default" selected disabled>seleccione..</option>
                                <option *ngFor="let ciudad of regionales" [value]="ciudad.id">{{ciudad.nombre}} </option>
                            </select>
                        </div>

                    
                        <div class="input-group">
                            <label for="opcionTurno">Turno enfermeria</label>
                            <select name="select-turno" [(ngModel)]="opcionHorariosTurno" id="opcionTurno" (ngModelChange)="actualizarHorarioHeader()"> 
                                <option value="default" selected disabled>seleccione..</option>
                                <option *ngFor="let option of horarioTurno" [value]="option.id">T{{option.id}}</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <button class="buttom-seleccion" (click)="consultarCitas()">
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
        </div>
            
        <div  class="row">
            <div class="col-md-2" id="container-list-citas">
                <div class="d-flex">
                    
                    <div class="input-group mb-2">
                        <span class="input-group-text">ID</span>
                        <input id="input-remision" [(ngModel)]="idRemision" (ngModelChange)=filtrarCitasByIdRemision() type="text" class="form-control" placeholder="remisión..." aria-label="Username" aria-describedby="input-remision">
                    </div>
                </div>
                <hr>
                <app-agenda-card-cita 
                        [citas]="citas"  [idCiudad]="opcionCiudad" [fechaTurno]="fechaFiltroTurno" [idHorarioTurno]="opcionHorariosTurno">
                </app-agenda-card-cita>

            </div>

            <div class="col-md-10" id="container-agenda-gantt">
                <div class="panel-gantt">
                    <div>
                        <app-diagramas-gantt 
                            [actividades]="actividades" 
                            [horas]="horasTurnoString"
                            (idprofesionalEvent)= "desasignarProfesionalTurno($event)">
                        </app-diagramas-gantt>
                    </div>
                    <hr>
                    <div>
            
                        <button id="agregar-profesional"(click)="agregarProfesionalTurno()">
                            <i class="bi bi-person-plus-fill" title="Agregar profesional"></i>
                         </button>
                     
                    </div>
                </div>   
            </div>
             
            <ng-container *ngIf="loadingPage == false">
                <app-spinner></app-spinner>
            </ng-container>
            
        </div>


</div>

