<div class="toast" id="toast-{{data['type']}}"
    [ngClass]="{'toast-success': data['type'] === 'success', 'toast-info': data['type'] === 'info', 'toast-error': data['type'] === 'error'}">
    <div class="container-toast">
        <div class="icon-toast">
            <i
                [ngClass]="{'bi bi-check-circle-fill': data['type'] === 'success', 'bi bi-info-circle-fill': data['type'] === 'info', 'bi bi-x-circle-fill': data['title'] === 'error'}"></i>
        </div>
        <div class="body-toast">
            <h5>{{ data['title'] }}</h5>
            <p>{{ data['message'] }}</p>
        </div>
    </div>
</div>