@import url("../../../../styles.css");

#header-hora {
    display: flex;
    justify-content: space-around;
    height: 2rem;
    padding: 0px;
    color: var(--quarter-color);
    font-weight: lighter;
}

#content-hora {
    text-align: center;
    position: relative;
}

#position-hora {
    position: absolute;
    padding: 0;
}

#container-card-gantt {
    margin: 0.2rem 0 0.2rem 0;
}

.card {
    box-shadow: 2px 2px 4px var(--gris3-color) !important;
}


.panel-gantt {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;

}

.panel-gantt div {
    height: 100%;
}

#retirar-profesional::before {
    position: absolute;
    font-size: 1.5rem;
    color: var(--red-color);
    right: 0.5rem;
    bottom: 0.5rem;

}

#retirar-profesional:hover {
    border-bottom: 1px solid var(--red-dark-color);
}


.container-actividades-panel {
    overflow-y: scroll;
    max-height: calc(60vh);
    overflow-x: hidden;
    border: 1px solid var(--gris3-color);
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

@media screen and (max-height:650px) {
    .container-actividades-panel {
        max-height: calc(48vh);
    }
}

div[name="container-actividad-time"] {
    position: relative;
    padding: 0px;
    text-align: center;
    border: 1px dotted var(--gris3-color);
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 5px 0px 0px 5px;

}

.container-linea-tiempo {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50%;
    width: 100%;

}

#container-map {
    border: 1px dotted var(--gris3-color) !important;
    padding: 0px;
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 0px 5px 5px 0px;
}

#container-map div {
    padding: 0px;
}

#container-map i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-ruta {
    text-align: center;
}

.map-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.3rem;
    font-size: 2rem;
    color: var(--second-color);
}

.map-content:hover {
    font-size: 2.3rem;
    color: var(--primary-color);
}

@keyframes parpadeo-progreso {

    0% {
        opacity: 1;


    }

    50% {
        opacity: 0.4;

    }

    100% {
        opacity: 1;

    }

}

::ng-deep app-diagramas-gantt .tarea-visita {
    position: absolute !important;
    height: 2rem !important;
    margin: 0px auto !important;
    background-color: var(--primary-color) !important;
    height: 2rem;

}



::ng-deep app-diagramas-gantt .tarea-dvisita {
    position: absolute !important;
    height: 2rem !important;
    margin: 0px auto !important;
    background-color: var(--orange-color) !important;

}


::ng-deep app-diagramas-gantt .holgura {
    position: absolute !important;
    height: 2rem !important;
    margin: 0px auto !important;
    background-color: #f9e4478f !important;
    border-radius: 0.4rem !important;
    z-index: 9999 !important;
    display: none;
}



::ng-deep app-diagramas-gantt .vignette {
    position: absolute !important;
    text-wrap: nowrap;
    top: -10% !important;
    left: 50%;
    transform: translate(-50%, -100%) !important;
    background-color: var(--quarter-color) !important;
    color: #ffffff !important;
    font-weight: lighter !important;
    z-index: 99999 !important;
    border-radius: 2px !important;

}

::ng-deep app-diagramas-gantt .vignette[showv=true]::before {
    position: absolute;
    content: "";
    right: 40%;
    top: 96%;
    /*transform: translate(90%, 0%);*/
    border: 0.35rem solid transparent;
    border-top-color: var(--quarter-color);
    z-index: 99999 !important;
}

::ng-deep app-diagramas-gantt .grid-time {
    border-left: 1px dotted #c7c9c7 !important;
    margin: 0px auto !important;
    height: 200% !important;
    position: absolute !important;
}


/*::ng-deep app-diagramas-gantt .tarea-visita[estado="4"] {
    animation: parpadeo-progreso 3s ease-in-out infinite !important;
}

::ng-deep app-diagramas-gantt .tarea-visita[estado="6"] {
    opacity: 0.3 !important;
}*/