<div>
    <div class="row">
            <div class="col-3" *ngIf="currentUrl.includes('agenda'); else elseProfesional">
                <h5 id="header-prefesional-gantt">Profesionales</h5>
            </div>
            <ng-template #elseProfesional>
                <h5 id="header-prefesional-gantt">Móviles</h5>
            </ng-template>
    </div>
 
    <div class="overflow-auto" class="container-actividades-panel">
        
        <div *ngFor="let actividad of actividades; let i = index">
            
            <div class="row">
                <div class="col-2">
                    <div  class="row" id = 'container-card'>
                        <div class="col-md-12" id = "container-card-gantt">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">{{actividad.responsable}}</h6>
                                    <div>
                                        {{actividad.numeroIdentificacion}}
                                    </div>
                                  
                                    <div *ngIf="actividad.idMovil">
                                        {{actividad.idMovil}}
                                    </div>
                                    <div class="retirar-profesional">
                                        <i class="bi bi-person-x-fill" 
                                        title="Retirar profesional"
                                        (click)="emitirProfesionalTurno(actividad.numeroIdentificacion)">

                                        </i>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-9" id = "container-actividad-time">
                        <div class = "container-linea-tiempo" id="{{actividad.numeroIdentificacion}}">
                        
                            <ng-container *ngIf="i <= actividades.length - 1">
                                <ng-container *ngFor="let tarea of actividad.tareas">
                                    <ng-container *ngIf="tarea" >
                                    
                                        {{crearLineaTiempoTarea(
                                            actividad.numeroIdentificacion,
                                            tarea
                                        )
                                        }}
                                       
                                    </ng-container>
                                </ng-container>
                                
                            </ng-container>
                    </div>
                </div>
                <div class="col-1" id ="container-map">
                
                        <div  *ngIf="actividad.tareas.length>0" class="map-content">
                             <i class="bi bi-geo-alt-fill" title="ubicación" (click)="mostrarRutaMapa(actividad.tareas)"></i>
                        </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
