<div>
    <div class="row">
            <div class="col-3">
                <h5 id="header-prefesional-gantt">Profesionales</h5>
            </div>
    </div>
 
    <div class="overflow-auto" class="container-actividades-panel">
        
        <div *ngFor="let actividad of actividades; let i = index">
            
            <div class="row">
                <div class="col-2">
                    <div  class="row" id = 'container-card'>
                        <div class="col-md-12" id = "container-card-gantt">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">{{actividad.responsable}}</h6>
                                   
                                    <div>
                                        {{actividad.numero_identificacion}}
                                    </div>
                                    <div *ngIf="actividad.Clasificacion_habilidad_responsable">
                                        {{actividad.Clasificacion_habilidad_responsable}}
                                    </div>
                                    <div *ngIf="actividad.identificacion_movil">
                                        {{actividad.identificacion_movil}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-9" id = "container-actividad-time">
                        <div class = "container-linea-tiempo" id="{{actividad.numero_identificacion}}">
                        
                            <ng-container *ngIf="i <= actividades.length - 1">
                                <ng-container *ngFor="let cita of actividad.citas">
                                    <ng-container *ngIf="cita">
                                    
                                        {{crearLineaTiempoTarea(
                                            actividad.numero_identificacion,
                                            cita
                                        )
                                        }}
                                    
                                    </ng-container>
                                </ng-container>
                                
                            </ng-container>
                    </div>
                </div>
                <div class="col-1" id ="container-map">
                
                        <div  *ngIf="actividad.citas.length>0" class="map-content">
                             <i class="bi bi-geo-alt-fill" title="ubicación" (click)="mostrarRutaMapa(actividad.citas)"></i>
                        </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
