@import url("../../../../styles.css");

#header-hora{
   display: flex;
   justify-content: space-around;
   height: 2rem;
   padding: 0px;
   color: var(--quarter-color);
   font-weight: lighter;
}
#content-hora{
    text-align: center;
    position: relative;
}
#position-hora{
    position: absolute;
    padding: 0;
}
#container-card-gantt{
    margin: 0.2rem 0 0.2rem 0;
}
.card{
    box-shadow: 2px 2px 4px  var(--gris3-color)!important;
}


.panel-gantt{
    display: flex; 
    flex-direction: column;
    height: 100%;
    justify-content: end;
    
}
.panel-gantt div{
    height: 100%;
}

#retirar-profesional::before{
    position: absolute;
    font-size: 1.5rem;
    color: var(--red-color);
    right: 0.5rem;
    bottom:  0.5rem;
    
}
#retirar-profesional:hover{
    border-bottom: 1px solid var(--red-dark-color );
}


.container-actividades-panel{
        overflow-y: scroll;
        max-height:calc(60vh);
        overflow-x: hidden;
        border:1px solid var(--gris3-color);
        padding-left: 0.2rem;
}
@media screen  and (max-height:650px){
    .container-actividades-panel{
        max-height:calc(48vh);
    }
}
#container-actividad-time{
   position: relative;
   padding: 0px;
   text-align: center;
   border: 1px dotted var(--gris3-color);
   
}
.container-linea-tiempo{
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50%;
    width: 100%;
}
#container-map {
    border: 1px dotted var(--gris3-color) !important;
}
.map-ruta{
     text-align: center;
}

.map-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.3rem;
    font-size: 2rem;
    color: var(--second-color);
}
.map-content:hover{
    font-size: 2.3rem;
    color: var(--primary-color);
}
