#container-inicio{
    padding: 0;
    margin: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../../../../assets/img/opacity2.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  
}
#container-inicio::before{
    opacity: 0.3;
}
#logo-container{
    display: flex ;
    justify-content: center;
    align-content: center;
}
#logo{
 width: 50%;
 height:50%;
}
#title{
    padding-top: 2rem;
    color:var(--second-color);
}
#container-inicio h1{
    text-align: center;
    color: var(--second-color);
}

#container-inicio h3{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: var(--quarter-color);
}