<div class="container-admin">
    <div class="title">
        <h1>Administración</h1>
    </div>

    <div class="menu-hex">

        <div class="hexagon" (click)="navigateToRemisiones()">
            <div class="text-menu">
                <h5>Remisiones</h5>
            </div>

        </div>

        <div class="hexagon">
            <div class="text-menu">
                <h5>Profesionales</h5>
            </div>
        </div>
        <div class="hexagon">
            <div class="text-menu">
                <h5>Regionales</h5>
            </div>
        </div>

    </div>
    <div class="menu-hex">
        <div class="hexagon">
            <div class="text-menu">
                <h5>Informes</h5>
            </div>
        </div>
        <div class="hexagon" (click)="navigateToServicioFarmaceutico()">
            <div class="text-menu">
                <h5>Servicio Farmaceutico</h5>
            </div>
        </div>
    </div>

</div>