<div class="container-admin">
    <div class="title">
        <h1>Administración</h1>
    </div>

    <div class="container-menu">

        <div class="hex-row">
            <div class="hexagon" [routerLink]="'remisiones'">
                <div class="text-menu">
                    <h5>Remisiones</h5>
                </div>

            </div>

            <div class="hexagon">
                <div class="text-menu">
                    <h5>Informes</h5>
                </div>
            </div>

            <div class="hexagon" [routerLink]="'servicioFarmaceutico'">
                <div class="text-menu">
                    <h5>Servicio Farmaceutico
                    </h5>
                </div>
            </div>

            <div class="hexagon" [routerLink]="'personal/horario'">
                <div class="text-menu">
                    <h5>Personal</h5>
                </div>
            </div>
            <div class="hexagon">
                <div class="text-menu">
                    <h5>Regionales</h5>
                </div>
            </div>
        </div>

    </div>