:root {
    --cero-color: #ffffff;
    --primary-color: #00AEC7;
    --second-color: #0033A0;
    --second-color-2: #0248e0;
    --third-color: #E3E829;
    --quarter-color: #53565A;
    --gris1-color: #707372;
    --gris2-color: #9EA2A2;
    --gris3-color: #C7C9C7;
    --gris4-color: #ecf0f1;
    --yellow-color: #F9E547;
    --yellow-color-light: #f9e4478f;
    --red-color: #f8434a;
    --tutquesa-color: #58C8C6;
    --green-color: #97D700;
    --green-color-dark: #77a804;
    --orange-color: #f5b120;
    --orange-color-dark: #d19004;
    --red-dark-color: #fc2229;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

}

html,
body {
    margin: 0 !important;
    font-family: var(--bs-font-sans-serif), var(--bs-font-monospace) !important;
}

.container-view {
    margin: 4rem 2rem 1rem 2rem;

}

h1,
h2 {
    color: var(--second-color);
    margin: 0;
}

h5,
h6 {
    color: var(--quarter-color);
    margin: 0;
}

a {
    text-decoration: none !important;
}

p {
    color: var(--quarter-color) !important;
}

hr {
    height: 1px;
    background-color: var(--primary-color);
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-shadow: 5px 5px 10px var(--gris1-color);
}

mat-snack-bar-container div {
    padding: 0px !important;
    border-radius: 20px !important;
    background-color: transparent;
}

/* Estilo para la barra de scroll */
::-webkit-scrollbar {
    width: 0.4rem;
    border-radius: 5px;
}

/* Estilo para el carril de la barra de scroll */
::-webkit-scrollbar-track {
    background: var(--cero-color);
    border: 1px solid var(--gris3-color);
    border-radius: 3px;
}

/* Estilo para la almohadilla de la barra de scroll */
::-webkit-scrollbar-thumb {
    background: var(--gris1-color);
}

/* Estilo para la almohadilla de la barra de scroll al pasar el mouse sobre ella */
::-webkit-scrollbar-thumb:hover {
    background: var(--quarter-color);
}

@media screen and (min-width: 850px) and (max-width:1450px) {
    .container-view {
        margin: 4rem 2rem 1rem 2rem;

    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    button {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1451px) and (max-width:2000px) {
    .container-view {
        margin: 5rem 3rem 2rem 3rem;
    }

    h1 {
        font-size: 2rem;

    }

    button {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}