@import url('../../../../styles.css');
@import url('../../../../assets/styles/buttons/button-seleccion.css');
@import url('../../../../assets/styles/buttons/button-multiple-seleccion.css');
@import url('../../../../assets/styles/inputs/fecha.css');


.container {
    min-width: 33rem;
    min-height: 50vh;
    max-height: 70vh;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.d-flex {
    padding-bottom: 1rem;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 40vh;
    gap: 1rem;
}

.title-header {
    margin-bottom: 0.5rem;
}

.container-tabla {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    min-height: 20vh;
    border: 1px solid var(--gris3-color);
}

.table-semanas {
    width: 100%;
    margin: 0.5rem;
}

.table-semanas tr {
    border: 0.2rem solid transparent;
}

.container-dias {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container-dias td:nth-child(1) {
    min-width: 6rem;
}


table {
    table-layout: auto;
}