<div class="container-horario">
    <div class="nav-bar-horario">
        <nav>
            <ul>
                <li routerLink="consolidado" routerLinkActive="active" (click)="actualizaUltimaSeleccion(0)">
                    {{opcionesMenu[0]|titlecase}}
                </li>
                <li routerLink="secuencias" routerLinkActive="active" (click)="actualizaUltimaSeleccion(1)">
                    {{opcionesMenu[1]|titlecase}}
                </li>
            </ul>
        </nav>
        <hr>
    </div>
    <div class="content-horario">
        <router-outlet></router-outlet>
    </div>

</div>