<h1 mat-dialog-title>Desea reprogramar esta la cita?</h1>
<div mat-dialog-content>
  <div id="content">
     <label for="horario">Selecciona un horario:</label>
     <div id="content-input">
       <input type="time" id="horario" name="horario"  [(ngModel)] ="horaCitaNueva">
     </div>
     
  </div>
  
   <div  id="content-dialog">
      <div id="content-option">

          <div id="option-boton">
            <button class="btn btn-outline-danger"  (click)="onNoClick()" >Cancelar</button>
          </div>
          
          <div id="option-boton">
            <button class="btn btn-outline-success" cdkFocusInitial (click)="onConfirm()">Confirmar</button>
          </div>

      </div>
  </div>

</div>
